{% load static %}

<!doctype html>

<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}Jeby{% endblock title %}
        </title>

        <link rel="shortcut icon" href="{% static 'images/swallow_16px.png' %}"/>
        <link rel="icon" sizes="152x152" href="{% static 'images/swallow_152px.png' %}"/>

        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-5.0.2/css/bootstrap.min.css' %}"/>

        {% block custom_css %}{% endblock custom_css %}
    </head>

    {% block content %}
    <body></body>
    {% endblock content %}
</html>