{% extends 'base_news.html' %}

{% load static %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'news/css/email_setting.css' %}"/>
{% endblock custom_css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <span>발송시간<span>
                    <span class="float-end">
                        <a type="button" class="btn btn-sm btn-primary" id="btn-send-time"><i class="bi bi-check"></i> 적용</a>
                    </span>
                </div>
                <div class="card-body" id="send-time">
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="00:00">00:00</div></a>
                        <a href="#"><div class="hour" data-hour="00:30">00:30</div></a>
                        <a href="#"><div class="hour" data-hour="01:00">01:00</div></a>
                        <a href="#"><div class="hour" data-hour="01:30">01:30</div></a>
                        <a href="#"><div class="hour" data-hour="02:00">02:00</div></a>
                        <a href="#"><div class="hour" data-hour="02:30">02:30</div></a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="03:00">03:00</div></a>
                        <a href="#"><div class="hour" data-hour="03:30">03:30</div></a>
                        <a href="#"><div class="hour" data-hour="04:00">04:00</div></a>
                        <a href="#"><div class="hour" data-hour="04:30">04:30</div></a>
                        <a href="#"><div class="hour" data-hour="05:00">05:00</div></a>
                        <a href="#"><div class="hour" data-hour="05:30">05:30</div></a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="06:00">06:00</div></a>
                        <a href="#"><div class="hour" data-hour="06:30">06:30</div></a>
                        <a href="#"><div class="hour" data-hour="07:00">07:00</div></a>
                        <a href="#"><div class="hour" data-hour="07:30">07:30</div></a>
                        <a href="#"><div class="hour" data-hour="08:00">08:00</div></a>
                        <a href="#"><div class="hour" data-hour="08:30">08:30</div></a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="09:00">09:00</div></a>
                        <a href="#"><div class="hour" data-hour="09:30">09:30</div></a>
                        <a href="#"><div class="hour" data-hour="10:00">10:00</div></a>
                        <a href="#"><div class="hour" data-hour="10:30">10:30</div></a>
                        <a href="#"><div class="hour" data-hour="11:00">11:00</div></a>
                        <a href="#"><div class="hour" data-hour="11:30">11:30</div></a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="12:00">12:00</div></a>
                        <a href="#"><div class="hour" data-hour="12:30">12:30</div></a>
                        <a href="#"><div class="hour" data-hour="13:00">13:00</div></a>
                        <a href="#"><div class="hour" data-hour="13:30">13:30</div></a>
                        <a href="#"><div class="hour" data-hour="14:00">14:00</div></a>
                        <a href="#"><div class="hour" data-hour="14:30">14:30</div></a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="15:00">15:00</div></a>
                        <a href="#"><div class="hour" data-hour="15:30">15:30</div></a>
                        <a href="#"><div class="hour" data-hour="16:00">16:00</div></a>
                        <a href="#"><div class="hour" data-hour="16:30">16:30</div></a>
                        <a href="#"><div class="hour" data-hour="17:00">17:00</div></a>
                        <a href="#"><div class="hour" data-hour="17:30">17:30</div></a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="18:00">18:00</div></a>
                        <a href="#"><div class="hour" data-hour="18:30">18:30</div></a>
                        <a href="#"><div class="hour" data-hour="19:00">19:00</div></a>
                        <a href="#"><div class="hour" data-hour="19:30">19:30</div></a>
                        <a href="#"><div class="hour" data-hour="20:00">20:00</div></a>
                        <a href="#"><div class="hour" data-hour="20:30">20:30</div></a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#"><div class="hour" data-hour="21:00">21:00</div></a>
                        <a href="#"><div class="hour" data-hour="21:30">21:30</div></a>
                        <a href="#"><div class="hour" data-hour="22:00">22:00</div></a>
                        <a href="#"><div class="hour" data-hour="22:30">22:30</div></a>
                        <a href="#"><div class="hour" data-hour="23:00">23:00</div></a>
                        <a href="#"><div class="hour" data-hour="23:30">23:30</div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <span>수신자<span>
                    <span class="float-end">
                        <a type="button" class="btn btn-sm btn-primary" id="btn-recipient"><i class="bi bi-check"></i> 적용</a>
                    </span>
                </div>
                <div class="card-body" id="recipient">
                    <table class="table table-sm">
                        <thead>
                            <tr class="text-center">
                                <th scope="col" style="width:90px;">이름</th>
                                <th scope="col">이메일</th>
                                <th scope="col" style="width:70px;">액션</th>
                            </tr>
                        </thead>
                        <tbody id="email-list">
                            <tr class="text-center">
                                <td scope="row"><input type="text" class="text-center" style="width:95%;" id="input-name"></td>
                                <td scope="row"><input type="email" class="text-left email-address" style="width:95%;" id="input-email"></td>
                                <td scope="row">
                                    <a type="button" class="btn btn-sm btn-secondary" style="width:95%;" id="add-email">추가</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
        email_send_times = "{{ email_send_times }}";
        email_recipients = "{{ email_recipients }}";
    </script>
    <script src="{% static 'news/js/email_setting.js' %}"></script>
{% endblock script %}