{% extends 'base_news.html' %}

{% load static %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'news/css/news_index.css' %}"/>
{% endblock custom_css %}

{% block content %}
<div class="container d-flex align-items-center h-75" id="search-box">
    <div class="d-flex flex-column w-100">
        <form action="{% url 'news:search' %}" method="post" id="frm-search">
            {% csrf_token %}
            <div class="row mb-1">
                <div class="col text-center">
                    <p class="h4" id="search-title">뉴스 검색 키워드를 입력하세요.</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="card border-secondary shadow-sm">
                        <div class="card-body" id="keyword-box">
                            <div class="d-flex flex-row">
                                {% comment %} <div class="keyword">kt<img src="{% static 'images/multiply_capture.jpg' %}"></div> {% endcomment %}
                                <button type="button" class="btn btn-secondary" id="btn-keyword-group"
                                    data-bs-toggle="modal" data-bs-target="#keywordListModal">키워드</button>
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control" name="keyword" id="input-keyword" autocomplete=off>
                                </div>
                                <div class="me-2">
                                    <a href="#"><span id="search-img"><i class="fas fa-search"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="keywordListModal" tabindex="-1" aria-labelledby="keywordListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">키워드 목록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">관리명</th>
                            <th scope="col">키워드</th>
                            <th scope="col">액션</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for keyword in keywords %}
                        <tr>
                            <td>{{ keyword.title }}</td>
                            <td>{{ keyword.content }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary btn-select-keyword"
                                    data-keyword="{{ keyword.content }}">select</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'news/js/news_index.js' %}"></script>
{% endblock script %}