{% extends 'base_news.html' %}

{% load static %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'news/css/news_read.css' %}"/>
{% endblock custom_css %}

{% block content %}
<div class="container" id="search-box">
    <div class="d-flex flex-column">
        <form action="{% url 'news:search' %}" method="post" id="frm-search">
            {% csrf_token %}
            <div class="row" style="padding-bottom:16px;">
                <div class="col">
                    <div class="card border-secondary shadow-sm">
                        <div class="card-body" id="keyword-box">
                            <div class="d-flex flex-row">
                                {% comment %} <div class="keyword">kt<img src="{% static 'images/multiply_capture.jpg' %}"></div> {% endcomment %}
                                <button type="button" class="btn btn-secondary" id="btn-keyword-group">키워드그룹</button>
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control" name="keyword" value="{{ form.keyword }}" autocomplete=off>
                                </div>
                                <div class="me-2">
                                    <a href="#"><span id="search-img"><i class="fas fa-search"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {% if news.major %}
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        주요 언론사 ({{ news.major|length }}건)
                    </div>
                    <div class="card-body py-2">
                        {% for new in news.major %}
                            <div class="news-item fs-6">
                                <a type="button" class="btn btn-sm btn-outline-secondary btn-site me-1">
                                    {{ new.sitename }}
                                </a>
                                <a href="{{ new.originallink }}" target="_blank">
                                    <span class="news-title">{{ new.title|safe|truncatechars:50 }}</span>
                                    <span class="badge bg-light text-dark">{{ new.pubDate }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if news.etc %}
        <div class="row mb-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        기타 언론사 ({{ news.etc|length }}건)
                    </div>
                    <div class="card-body py-2">
                        {% for new in news.etc %}
                            <div class="news-item fs-6">
                                <a type="button" class="btn btn-sm btn-outline-secondary btn-site me-1">
                                    등록하기
                                </a>
                                <a href="{{ new.originallink }}" target="_blank">
                                    <span>{{ new.title|safe|truncatechars:50 }}</span>
                                    <span class="badge bg-light text-dark">{{ new.pubDate }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock content %}

{% block footer %}
{% comment %} <footer class="footer mt-auto py-2 bg-light border-top border-1">
    <div class="container text-center">
        <span class="text-muted">@ 2021 engyjoon</span>
    </div>
</footer> {% endcomment %}
{% endblock footer %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'news/js/news_read.js' %}"></script>
{% endblock script %}